<%= form_with(model: @comment, class:"container", url: {action: "create"}) do |form| %>

    <div class="text-box">
      <%= form.label :text %>
      <%= form.text_area :text, class:"input-area" %>
    </div>
  
    <div class="add-post">
    <button class="btn btn-like">
      <%= form.submit "submit" %>
    </button>
  
      <button class="btn">
        <%= link_to "back",  user_post_path(@user, @post)%>
      </button>
    </div>
  <% end %>