<div class='show-user'>
<div class="user">
<div class="user-profile">
  <img src='<%= @user.photo%>' alt="user_profile" />
</div>
<div class="user-description">
  <h2>
  <%= @user.name %>
  </h2>
  <p>Number of post: <%= @user.posts_counter %></p>
</div>
</div>

<div class='bio'>
<h3>Bio :</h3>
<%= @user.bio %>
</div>

<div class="posts">
<% @user.recent_posts.each do |post| %>
    <div class="post">
      <p> Post #<%= post.id %> </p>
      <div>
         <p><%= post.text %></p>
         <div class="comment_likes">
           <p> comments: <%= post.comments_counter %> </p>
           <p> likes: <%= post.likes_counter %> </p>
         </div>
      </div>
    </div>
<% end %>
<div class="post_all">
<%= link_to 'See all posts', user_posts_path(@user), class:"all_posts" %>
</div>
</div>

