<div class="post-show">
<div class="user">
<div class="user-profile">
  <img src='<%= @user.photo%>' alt="user_profile" />
</div>
<div class="user-description">
  <h2>
  <%= @user.name %>
  </h2>
  <p>Number of post: <%= @user.posts_counter %></p>
</div>
</div>

<div class="posts">
<% @posts.each do |post| %>
    <%= link_to(user_post_path(@user, post)) do %>
<div class="post_comment">
<div class="post">
<p> Post #<%= post.id %> </p>
<div>
   <p><%= post.text %></p>
   <div class="comment_likes">
     <p> comments: <%= post.comments_counter %> </p>
     <p> likes: <%= post.likes_counter %> </p>
   </div>
</div>
</div>

<div class="comments">
<% if post.comments == [] %>
  <p>No comments !!!</p>
<% end %>

<% post.comments.order('created_at DESC').limit(5).each do |comment|%>
  <div class="comment-container">
    <span><%=comment.author.name %>:</span>
    <span><%=comment.text %></span>
  </div>

  <% if current_user.admin? || can?(:destroy, comment) %>
  <%= button_to 'Delete', user_post_comment_path(@user, comment.post, comment), method: :delete %>
<% end %>

<% end %>
</div>
</div>
<% end %>
<% end %>
</div>
</div>
</div>
</br>
<div class="post_all">
<button class='all_posts'>Pagination</button>
</div>


<div class="post-btn">
<button class="btn">
  <%= link_to "Add Post", new_user_post_path(@user)%>
</button>
</div>
