<%= form_with(model: @post, url: {action: "create"}) do |form| %>
    <div>
    <%= form.label :title %>: 
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

    <div class="d-none">
    <%= form.label :likes_counter %>
      <%= form.text_field :number, value: 0 %>
    </div>

    <div class="d-none">
    <%= form.label :comments_counter %>
    <%= form.text_field :number, value: 0 %>
  </div>

    <div class="submit d-flex">
        <%= form.submit "submit" %>
    </div>

  <div class="post-btn">
    <button>
      <%= link_to "back",  user_posts_path(@user)%>
    </button>
  </div>
<% end %>