<div class="container">
<div class="content">
<div class="comment-like-container">
  <p> Post #<%= @post.id %> by <%= @user.name %> </p>
  <div class="comment_like">
  <p> comments: <%= @post.comments_counter %> </p>
  <p> likes: <%= @post.likes_counter %> </p>
</div>
</div>

<div>
  <%= @post.text %>
</div>
</div>

<% @post.comments.order('created_at DESC').limit(5).each do |comment|%>
  <div class="content">
    <p><%=comment.author.name %>: <span><%=comment.text %></span></p>
  </div>
<% end %>
</div>

